/* цвет основного текста #212121*/
/* вторичный цвет #757575*/
/* белый #757575*/
/* цвет ссылок при навидении #2196F3*/
/* цвет тел и мыла в футоре rgba(255, 255, 255, 0.6) */
/* цвет кем залито в конце rgba(255, 255, 255, 0.4)*/
/* цвет кнопок #F5F4FA*/
/*белый #FFFFFF*/
:root {
  --primari-text-color: #212121;
  --color-button: #f5f4fa;
  --color-hover: #2196f3;
  --color-white: #ffffff;
}
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

p {
  color: #757575;
  font-size: 16px;
}

a {
  text-decoration: none;
}
.hero {
  background-image: url(https://s3-alpha-sig.figma.com/img/90d1/e577/08c10d3f92c87b9d3d5417f1169bcaf9?Expires=1592784000&Signature=ILxEtmAFMr2Us7ms5~cJYB0a~j~yVQAXyDQyglCFQqxMMtSUgmVt5sG5C6f7gvM6nol6ag1E9YxuBz2JpbDZGV4yywAtNVqrZUPHLpvx7K10C2MpU52WDKP7RhHLKeVgDCoXGS6H0k6O2CPDxtDZmBXebeWA3ZpnOzjCGXkgPJ0x2mrSDzQ8y6E7kUsAgNfNjCVTdkMB55JW9kKQ68hfj91M2g~DamgTzAuNqmyDZ6RD3ci2EK93pMSdTqYJ4Ch-OCxzEcgNnNP7XpFXtv1Wy19uuGIJOf02E6FdMxvZRynm25E6xcxrt8Fqph7gMPZUVSOT9W0Cxzs4nnY5tt4Ppg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  padding: 200px;
  align-items: center;
}
.hero-title {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--primari-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.list {
  list-style: none;
}
.list h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.list p {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
}

.list-portfolio h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-portfolio p {
  font-size: 16px;
  line-height: 1.87;
}
.list-portfolio a {
  font-size: 18px;
  line-height: 1.56;
}

.section-title-function {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-function {
  display: flex;
}
.list-function h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.list-function li:not(:first-child) {
  margin-left: 30px;
}

.section-goin {
  display: flex;
  /* margin-bottom: 94px; */
}
.section-goin li:not(:first-child) {
  margin-left: 30px;
}
.section-goin h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
  text-align: center;
}

.section-our {
  display: flex;
  /* margin-bottom: 94px; */
  margin-top: 50px;
  list-style: none;
}

.section-our li {
  width: 270px;
}
.section-our li:not(:first-child) {
  margin-left: 30px;
}
.section-our h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.section-our p {
  margin-bottom: 16px;
  text-align: center;
}
.section-our-social {
  display: flex;
  list-style: none;
}

.section-client {
  padding-top: 94px;
  /*  margin-top: 94px;
  margin-bottom: 94px; */
}

.list-client {
  display: flex;
}
.list-client li {
  width: 170px;
}
.list-client li:not(:first-child) {
  margin-left: 30px;
}
.section-title-function h3 {
  color: var(--primari-text-color);
  font-size: 14px;
}

.section-title-function p {
  font-size: 14px;
}
.section-people {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.section-people h3 {
  color: var(--primari-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
}
.logo-header {
  color: var(--color-hover);
  font-size: 26px;
  line-height: 1.19;
  margin-right: 85px;
}
.logo-header-studio {
  color: #000000;
}
.logo-footer {
  color: var(--color-hover);
  font-size: 22px;
  line-height: 1.18;
}
.logo-footer-studio {
  color: white;
}
header {
  background-color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.section {
  padding-bottom: 94px;
  /* width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; */
  box-sizing: inherit;
}

.page-header {
  display: flex;
  padding-bottom: 0px;
}

.page-header-conteiner {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  line-height: 80px;
}

.site-nav li:not(:first-child) {
  margin-left: 50px;
}
.contact-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: 15px;
  line-height: 80px;
}

.site-nav a {
  color: var(--primari-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--color-hover);
}
.site-nav .link.current {
  color: var(--color-hover);
}

.mail {
  color: #757575;
  margin-right: 30px;
}

.contact-nav-tel a {
  color: #757575;
}

footer {
  background-color: #2f303a;
}
/*
.page-footer-address {
  color: #ffffff;
  text-decoration: none;
}
.page-footer-mail {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer-tel {
  color: rgba(255, 255, 255, 0.6);
}
*/
.footer-conteiner {
  display: flex;
  padding-top: 45px;
  padding-bottom: 28px;
  align-items: baseline;
  justify-content: space-between;
}
.page-footer {
  width: calc((100% - 60px) / 4);
  /*padding-top: 48px;
  pading-bottom: 28px; */
}
.page-footer-logo {
  margin-bottom: 8px;
}
.footer-addres {
  flex-direction: column;
  display: flex;
  line-height: 1.71;
}
.footer-addres p {
  text-decoration: none;
  color: var(--color-white);
  font-size: 14px;
  font-style: normal;
}
.footer-addres a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
}
.page-footer b {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-goin {
  width: calc((100% - 60px) / 4);
  /* margin: 56px 94px 56px 69px; */
}
.list-goin {
  display: flex;
  margin-top: 21px;
}
.page-footer-goin {
  color: #ffffff;
  font-size: 14px;
}
.sub {
  /* margin: 57px 216px 50px 0; */
  width: calc((100% - 60px) / 2);
}
.page-footer-sub {
  color: #ffffff;
  font-size: 14px;
}
.sub-form {
  margin-top: 21px;
}
.page-footer-end {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  text-align: center;
  /* margin-top: 18px;
  margin-bottom: 21px; */

  padding: 18px 415px 21px;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.section-end {
  padding-bottom: 0px;
}

.button-first {
  color: var(--color-white);
  background-color: var(--color-hover);
  font-size: 16px;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 4px;
}
.list-button {
  display: flex;
  margin-top: 93px;
  margin-bottom: 34px;
  align-items: center;
  margin-left: 280px;
}
.button-second {
  color: var(--primari-text-color);
  background-color: var(--color-button);
  font-size: 16px;
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
}
.list-button li:not(:first-child) {
  margin-left: 8px;
}
.button-second:hover,
.button-second:focus {
  color: var(--color-white);
  background-color: var(--color-hover);
}
.progect {
  padding-top: 94px;
  padding-bottom: 94px;
  width: 1200px;
}
.list-portfolio {
  display: flex;
  padding-left: 0px;
  margin: 0px;
  /* margin-bottom: 94px; */
  flex-wrap: wrap;
}

.list-progect {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  /*
  display: flex;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: inherit; */
}
.list-progect h2 {
  color: var(--primari-text-color);
  box-sizing: inherit;
  margin-bottom: 4px;
}
.list-progect p {
  margin-top: 4px;
}

/*
.list-portfolio li:nth-child(3n) {
  margin-right: 0;
}
.list-portfolio li:nth-child(n + 4) {
  margin-top: 30px;
}
 */

.list-progect:nth-child(3n) {
  margin-right: 0;
}
.list-progect:nth-child(n + 4) {
  margin-top: 30px;
}

.cards:hover,
.cards:focus {
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}
